.sidebar {
  /*   position: relative; */
  min-height: calc(100vh - 60px);
  width: 16rem;
  background-color: #30384d;
}

.sidebar__brand {
  padding-left: 1.5rem;
  height: 4rem;
  background-color: #272c3f;
  color: #ffff;
}
.sidebar__brand p {
  margin: 0;
}
/* .sidebar__content {
} */
.sidebar__content > ul {
  list-style: none;
  text-decoration: none;
}
.sidebar__content > ul > li {
  margin-bottom: 1rem;
  color: #ffff;
}

.sidebar__content > ul > li > a {
  text-decoration: none;
  color: #ffff;
  font-size: 1rem;
  font-weight: 600;
}

.openSide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  min-height: 100vh;
  width: 16rem;
  font-family: "Inter Tight", sans-serif;
  background-color: #30384d;
}
.closeIcon {
  height: 1.5rem;
  cursor: pointer;
}
.backmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
