.navbarContainer {
  background-color: #272c3f;
  height: 60px;
}

.navbarBrand {
  font-family: "Inter Tight", sans-serif;
  font-weight: 800;
  letter-spacing: 1.1px;
}
.navbarContainer .container-fluid {
  flex-direction: row-reverse;
}
@media (min-width: 576px) {
  .navbarContainer .container-fluid {
    flex-direction: row;
  }
}
