.cuentas-container {
  width: calc(100% - 16rem);
}
.cuentas-container h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .cuentas-container {
    width: 100%;
  }
}
.cuentas-container .cuentas-container__inside p {
  margin: 0;
}
